p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  height: 2950px;
  background-color: rgb(248, 248, 248);
}

body.dark-mode {
  background-color: black;
  transition: background-color 0.4s ease, color 0.4s ease;
}
