.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  z-index: 100;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(226, 221, 221);
}

.left-section {
  width: 70px;
}

.hamburger-menu {
  display: flex;
  height: 36px;
  margin-left: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.middle-section {
  flex: 1;
  margin-left: 170px;
  margin-right: 50px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid rgb(199, 198, 198);
  box-shadow: inset 1px 2px 5px rbga(0, 0, 0, 0.05);
  width: 0;
}

.search-icon {
  height: 30px;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(199, 198, 198);
  margin-right: 10px;
  cursor: pointer;
}

.right-section {
  width: 180px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.home-icon {
  height: 38px;
}

.about-me-icon {
  height: 35px;
}

.profile-picture {
  height: 34px;
  border-radius: 16px;
}

.home-button,
.about-me-button,
.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.home-button .tooltip,
.about-me-button .tooltip,
.profile-picture .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.home-button:hover .tooltip,
.about-me-button:hover .tooltip,
.profile-picture:hover .tooltip {
  opacity: 1;
}