.introduction {
  margin-top: 65px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.intro-text {
  font-family: EduNSWACTHandCursive;
  font-weight: 400;
  font-size: 85px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.river-container {
  margin-bottom: 10px;
}

.river {
  display: flex;
  width: 500px;
  height: 200px;
}

.intro-text-2 {
  margin-top: 50px;
  font-size: 25px;
  text-align: center;
}

.schedule {
  background-color: rgb(232, 232, 232);
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 140px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
}



.timetable {
  height: 300px;
  display: inline-block;
}

.explanation-1 {
  font-size: 20px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
 /* flex: 1 1 auto; */
}

.red {
  color: red;
  font-weight: 500;
}

.blue {
  color:blue;
  font-weight: 500;
}

.gray {
  color: gray;
  font-weight: 500;
}

.orange {
  color: orange;
  font-weight: 500;
}

.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}

.video-preview {
  background-color: rgb(233, 233, 233);
  position: relative;
  padding-bottom: 10px;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.video-preview::after, .video-preview::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), transparent 70%, #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 6px;
  border-radius: 8px;
  animation: 3s spin linear infinite;
}
.video-preview::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin {
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

.total-video-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  row-gap: 40px;
  position: relative;
  z-index: 3;
  margin-top: 200px;
}

.video-grid {
  margin-top: 140px;
  background-color: rgb(235, 235, 235);
  z-index: -2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.video-text {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;

}
