body {
  background-color: rgb(245, 245, 245);
  font-family: Roboto, Arial;
  margin: 0;
}

.back-button {
  display: inline-block;
  font-family: Roboto, Arial;
  font-size: 28px;
  position: fixed;
  left: 20px;
  top: 20px;
  padding: 5px;
  background-color: rgb(240, 240, 240);
  border-width: 2px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(88, 87, 87);
  cursor: pointer;
}

.about-container {
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  text-align: center;
  font-size: 60px;
}

.intro-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: center;
}

.intro {
  width: 400px;
  height: 170px;
  border-radius: 20px;
  background-color: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.intro:hover {
  border-color: #c1c1c1;
  box-shadow: 0 4px 18px 0 rgba(0,0,0, 0.25)
}

.name {
  font-size: 38px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.bio-section p {
  font-size: 18px;
  line-height: 28px;
  color: rgb(60, 60, 60);
}

.contact-section ul {
  padding-left: 20px;
}

.contact-section li {
  margin-bottom: 10px;
  font-size: 18px;
}