body {
  font-family: Roboto, Arial;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.back-button {
  display: inline-block;
  font-family: Roboto, Arial;
  font-size: 28px;
  position: fixed;
  left: 20px;
  top: 20px;
  padding: 5px;
  background-color: rgb(240, 240, 240);
  border-width: 2px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(88, 87, 87);
  cursor: pointer;
}

.header {
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 200px;
  font-weight: 500;
  text-align: center;
  line-height: 100px;
}

.header-text-1 {
  font-size: 80px;
}

.header-text-2 {
  font-weight: 400;
  color: rgb(223, 221, 221);
  filter: brightness(40%);
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: center;
}

.card {
  width: 500px;
  height: 254px;
  border-radius: 20px;
  background-color: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.card-details {
  color: black;
  height: 100%;
  gap: .5em;
  align-items: center;

  margin-right: 20px;
  padding-left: 20px;
}

.text-body {
  color: rgb(134,134,134);
  margin-bottom: 80px;
}

.text-title {
  font-size: 2em;
  font-weight: bold;
}

.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0,0,0, 0.25)
}

.img-container {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

