body {
  font-family: Roboto, Arial;
  margin: 0;
  background-color: rgb(251, 251, 251);
}

.back-button {
  display: inline-block;
  font-family: Roboto, Arial;
  font-size: 28px;
  position: fixed;
  left: 20px;
  top: 20px;
  padding: 5px;
  background-color: rgb(240, 240, 240);
  border-width: 2px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(88, 87, 87);
  cursor: pointer;
}

.header-text {
  font-size: 64px;
  text-align: center;
  padding-top: 30px;
}

.all-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.num-button {
  background-color: rgb(200, 200, 200);
  color: black;
  font-size: 30px;
  margin: 10px;
  padding: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.num-button:hover {
  background-color: rgb(183, 183, 183);
}

.math-question {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

#puzzle {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
select {
  font-size: 26px;
  margin: 0 6px;
  padding: 4px;
}
#result {
  margin-top: 40px;
  font-size: 28px;
  line-height: 40px;
}
.correct {
  color: green;
}
.wrong {
  color: red;
}